<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Bienvenue sur Yeewu</h1>
    <div class="row col-md-offset-1">
        <h4>Hello, <%#=@user['name'] %></h4>
        </div>
        <div class="row col-md-offset-1">
            <div class="col-md-5">
                <%= link_to("Logout", session_logout_path, method: :delete) %>
            </div>
        </div>
    </div>
</main>